.venta-pages {
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f8;
}

.vanta-pages h2 {
  margin-bottom: 1.5rem;
  color: #2c3e50;
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
}
.header-container-botones{
  display: flex;
  gap: 10px;

}



